# ====================== LLM =============================
OLLAMA_HOST="http://<url>"
OLLAMA_MODEL="<model_name>"


# ================ Embedding Transformer =================
MODEL_TRANSFORMER="embeddeing model"


# ==================== Vector DB =========================
VECTOR_STORE_PATH="./data/<your_DB>"
TOP_K="number of retrived chunks"

FRONTEND_ORIGIN="frontend_url"